.power {
  .ant-tabs {
    border: 16px solid #FAFAFDFF;
    padding: 0px 16px;
  }

  .ant-tabs-tab {
    margin: 0 50px;
  }
  .ant-tree-switcher-noop{
    margin-left: 25px;
  }
  .ant-tree-switcher{
    margin-left: 25px;
  }
}