// 抽屉footer按钮样式
.drawer_foot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background-color: #fff;
  text-align: center;
}

// 底部按钮样式
.commonbtn_foot {
  height: 86px;
  line-height: 86px;

  .ant-pro-footer-bar-right {
    width: 100%;
    text-align: center;
  }
}

//标题备注
.desc {
  color: #8C8C98;
  font-size: 14px;
  font-weight: 400;
}

.form-required {
  position: relative;
}

.form-required::before {
  position: absolute;
  top: 5px;
  left: -10px;
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

