.jbsUpload {
  .ant-upload-draggable-list-item {
    border: 2px dashed rgba(0, 0, 0, 0);
  }

  .ant-upload-draggable-list-item.drop-over-downward {
    border-color: #1890ff;
  }

  .ant-upload-draggable-list-item.drop-over-upward {
    border-color: #1890ff;
  }

  .ant-upload-list-picture-card .ant-upload-list-item {
    height: 102px;
  }

  .iconJia {
    font-size: 22px;
  }

  .iconWenjianshangchuan {
    font-size: 14px;
  }
}