.scheduler {
  .schedulerBox {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    .schedulerBoxLeft {
      .selectStyle {
        width: 120px;
      }
    }

    .schedulerBoxRight {
      .ant-btn {
        margin-left: 12px;
      }
    }

  }
}