.ant-pro-form-login-container {
  background: initial;
  padding-top: 50px;

  .ant-pro-form-login-header {
    line-height: normal;
  }

  .ant-pro-form-login-desc {
    margin-bottom: 10px;
  }

  .ant-pro-form-login-main {
    margin-top: 40px;
    width: 304px !important;
    min-width: auto;

    .ant-pro-form-login-other {
      margin-top: 12px;

      span,
      div {
        font-size: 12px;
      }
    }

    .ant-form-item-label {
      .ant-form-item-required {
        color: #999999;

        &::before {
          display: none;
        }
      }
    }
  }

  .ant-btn {
    border-radius: 27px;
    height: 54px;
    margin-top: 40px;
  }

  .ant-input-affix-wrapper {
    background: none;
    border: 0 none;
    border-bottom: 1px solid rgba(255, 134, 48, 0.3);
  }
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector{
    background: none;
    border: 0 none;
    border-bottom: 1px solid rgba(255, 134, 48, 0.3);

  }
  .ant-select-selector{
    background: none!important;
    border: 0 none!important;
    border-bottom: 1px solid rgba(255, 134, 48, 0.3)!important;
  }

  .ant-input,
  .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
    background: none;
  }

  input:-webkit-autofill {
    box-shadow: none;
  }

  .ant-pro-form-login-main-other {
    text-align: center;
  }

  .anticon-user,
  .anticon-lock {
    font-size: 22px;
    color: #595965;
  }
}

.ant-layout-footer {
  background: none;
}
