.testingDataContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
}
.testingDataTitle {
    color: #8C8C98FF;
    font-size: 14px;
}
.testingDataTimes {
    color: #262632FF;
    font-size: 24px;
    margin-top: 12px;
}