.power{
    .powerHead{
        display: flex;
        align-items: center;
    }
    .powerContent{
        display: flex;
        .powerContentName{
            display: inline-block;
            width: 180px;
            text-align: right;
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .powerBox{
            display: flex;
            flex-direction: column;
        }
        .checkBox{
            width: 1000px;
            .ant-checkbox-wrapper{
                margin-left: 0px;
                margin-right: 8px;
            }
        }
        .icon{
            color: #1890ff;
            margin-right: 10px;
        }
    }

}